# Fichiers/dossiers générés par PyInstaller
/src/dist/
/src/build/
*.spec

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Fichiers exécutables
*.exe

# Fichiers temporaires ou de sauvegarde
*.bak
*.tmp
*.log

# Environnements virtuels
env/
.venv/
venv/
config.json

# Fichiers système
.DS_Store
Thumbs.db
