# Fichiers/dossiers générés par PyInstaller
/src/dist/
/src/build/
/src/output/
/output/
/tests/
/font/
/src/old/
/src/config.json
/dist/
/build/
.pytest_cache/
*.spec

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Fichiers exécutables
*.exe

# Fichiers temporaires ou de sauvegarde
*.bak
*.tmp
*.log

# Environnements virtuels
env/
.venv/
venv/

# Fichiers système
.DS_Store
Thumbs.db
