<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <style>
        /* Les styles CSS dynamiques et statiques seront injectés ici par Python */
        %%STYLES_CSS%%
    </style>
</head>
<body>
    <div id="custom-tooltip" class="custom-tooltip"></div>
    %%CONFIRM_DIALOG_HTML%%
    <div id="content-wrapper" class="lesson-card %%SUBJECT_BG_CLASS%%">
        <div class="lesson-header">
            %%BUTTONS_HTML%%
            %%EDIT_TOOLBAR_HTML%%
        </div>
        <div class="lesson-content-editable">
            %%RAW_LESSON_CONTENT%%
        </div>
    </div>
</body>
</html>